<%= search_form_for @q, :class => collapse_search_form, :id => "companies_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :sector_cont, "Sector contains" %>
    <%= f.text_field :sector_cont, :class => "form-control", :placeholder => "Sector contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :job_applications_title_cont, "Job applications title contains" %>
    <%= f.text_field :job_applications_title_cont, :class => "form-control", :placeholder => "Job applications title contains" %>
  </div>

  <div class="form-group">
    <%= f.label :interviewed_applicants_email_cont, "Interviewed applicants email contains" %>
    <%= f.text_field :interviewed_applicants_email_cont, :class => "form-control", :placeholder => "Interviewed applicants email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :starts_on, "Interview Starts on" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='interviewsgteqstarts_onPicker' data-target-input="nearest">
          <%= f.text_field :interviews_starts_on_gteq, :class => "form-control datetimepicker-input", :placeholder => "Interview Starts on greater than or equal to", :data => {:target => '#interviewsgteqstarts_onPicker'} %>
          <div class="input-group-append" data-target='#interviewsgteqstarts_onPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='interviewslteqstarts_onPicker' data-target-input="nearest">
          <%= f.text_field :interviews_starts_on_lteq, :class => "form-control datetimepicker-input", :placeholder => "Interview Starts on less than or equal to", :data => {:target => '#interviewslteqstarts_onPicker'} %>
          <div class="input-group-append" data-target='#interviewslteqstarts_onPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#interviewsgteqstarts_onPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#interviewslteqstarts_onPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#interviewsgteqstarts_onPicker').on("dp.change", function (e) {
              $('#interviewslteqstarts_onPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#interviewslteqstarts_onPicker').on("dp.change", function (e) {
              $('#interviewsgteqstarts_onPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/companies" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#companies_filters">
  Show filters
</a>
